body {
  background-color: yellow;
}

nav ul {
  margin: 0;
  padding: 0;
  font-size: 25px;
  list-style: none;
  display: flex;
  justify-content: center;  /* This centers the items horizontally */
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

h1 {
  font-size: 35px;
  text-align: center ;
  margin-top: 0;
}

.profile-image {
  background-color: rgba(255, 255, 255, 0.885);
  height: 200px;             /* set the image size */
  width: auto;               /* maintain aspect ratio */
  border-radius: 100px;        /* optional, make it round */
  margin-bottom: 8px;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 350px;
  width: 90%;
  margin: 0 auto;         
  padding: 0 20px;         /* optional padding for small screens */
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 15px;
}

.input-username, .input-password {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#username, #password {
  background-color: aquamarine;
  padding: 8px 4px 8px 4px;
  width: 250px;
  width: 100%; /*so it doesn't cause horizontal scrollin on smaller screens*/
  border-radius: 25px;
}

.login-button {
  background-color: black;
  color: white;
  border-bottom: 8px solid white;
  border-right: 8px solid white;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(221, 11, 11, 0.999);
  margin-top: 20px;
  padding: 10px 20px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.additional-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}



.forgot-link {
  margin-top: 15px;
}

.cancel-button {
  background-color: white;
  color: black;
  border-bottom: 8px solid black;
  border-right: 8px solid black;
  border-radius: 20px;
  box-shadow: 4px 4px 6px rgba(223, 44, 44, 0.959);
  margin-top: 20px;
  padding: 10px 20px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}